---
---

body {
    background: url('/assets/background.jpg');
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
}

h2 {
    font-family: Monaco,'Cascadia Code', Consolas;
    font-size: 20px;
    letter-spacing: .12em;
    margin-bottom: 30px;
    color: #888;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -160px;
    text-align: center;
    user-select: none;
}

#icon-link a {
    padding: 12px;
    text-decoration: none;
    transition: color .2s ease;
}

#icon-link svg {
    width: 40px;
    height: 40px;
}

#icon-link svg:hover {
    fill: red;
}