<head>
    <meta charset="utf-8" name="msvalidate.01" content="1960F587D234A6C5BD70B3A79318525E" />

    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <script src={{ "js/posts.js" | prepend: site.baseurl }}></script>
    <script src={{ "js/rainyday.0.1.2.min.js" | prepend: site.baseurl }}></script>

    <script>
        function run() {
            var image = document.getElementById('background');
            
            image.onload = function() {
                var engine = new RainyDay({
                    image: this
                });
                engine.rain([ [1, 2, 8000] ]);
                engine.rain([ [3, 3, 0.88], [5, 5, 0.9], [6, 2, 1] ], 100);
            };
            image.crossOrigin = 'anonymous';
            image.src = '{{ "img/background.jpg" | prepend: site.baseurl }}';
        }
    </script>

    <title>{{ site.title }}</title>
</head>
