<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    
    <body onload="run();">
        
        <div class="row" >
            <!---->
            <div class="row col s1">
                <img id="background" src="" />
                
                <div class="cover-card">
                    <div class="card">
                        <span class="name">
                            <a href="/">屈利春</a> |
                            <a href="http://about.me/lichunqu">about</a>
                        </span>
                        <span class="description">{{ site.description }}</span> 
                        <!--<div class="svg">                                                                     
                            <a href="https://twitter.com/{{ site.twitter_username }}">{% include icon-twitter.svg %}</a>
                            <a href="https://github.com/{{ site.github_username }}">{% include icon-github.svg %}</a>
                        </div>         -->
                    </div>         
                                                             
                </div>
            </div>
            <div class="row col s1">
                {{ content }}
            </div>
        </div>
            
    </body>
</html>