<!DOCTYPE html>
<html lang="zh-cn">

    {% include head.html %}
    
    <body onload="run();">
        <div class="row" >
            <div class="row col s1">
                <img id="background" src="" />
                
                <div class="cover-card">
                    <div class="card">
                        <span class="name">
                            <a href="/">{{ site.name }}</a> |
                            <a href="http://about.me/lichunqu">about</a>
                        </span>
                        <span class="description">{{ site.description }}</span> 
                        <br/>
                        {% include icon-link.html %}
                    </div>         
                </div>

            </div>
            <div id="posts" class="row col s1">
                <div id="post-listing" class="post-listing">
                    {{ content }}
                </div>
            </div>
        </div>
            
    </body>
</html>
