<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    
    <body onload="run();">
        
        <div class="row" >
            <!---->
            <div class="row col s1">
                <img id="background" src="" />
                
                <div class="cover-card">
                    <div class="card">
                        <span class="name">
                            <a href="/">屈利春</a> |
                            <a href="http://about.me/lichunqu">about</a>
                        </span>
                        <span class="description">{{ site.description }}</span> 
                        <br/>
                        {% include icon-link.html %}
                    </div>         
                </div>

            </div>
            <div class="row col s1">
                {{ content }}
            </div>
        </div>
            
    </body>
</html>
